/* Todas as mudanças do tema dark */
body.dark {
  background-image: url("img/fundoDark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body.dark .selected-option{
  border: 2px solid rgb(254, 0, 0);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1%, transparent 10%,transparent 10% , rgba(117, 117, 26, 0.1) 100%);
  color: white;
  box-shadow: inset 0 0 10px rgba(255, 165, 165, 0.4), 0 0 9px 3px rgba(249, 215, 215, 0.1);
}
body.dark .selected-option:hover{
  color: #ff0000;
  box-shadow: inset 0 0 10px rgba(240, 108, 108, 0.6), 0 0 9px 3px rgba(250, 99, 49, 0.2);
}
body.dark .theme-dropdown .selected-option .icon{
  background-color: #000000;
  border: 1px solid rgb(80, 79, 79);
}
body.dark .format-dropdown .selected-option .icon {
  background-color: rgb(146, 21, 5);
}
body.dark .card  {
  background: #7b2929;
  
}
body.dark .card .time-box{
  color: rgb(75, 8, 4);;
}
body.dark .card .type-box{
  color: rgb(152, 49, 31);
}
body.dark .card::before {
  background-image: linear-gradient(180deg, #FF2C40, #970B0C);
}

body.dark .card::after {
  background: rgb(228, 216, 216);
} 

body.dark .form12-box{
  color: #e0a8a8;
}

body.dark .clock{
  background-color: rgb(0, 0, 0);
  border: 1px solid #400101;
}